<app-navbar></app-navbar>

<div class="container">
    <h1>{{ projectName }}</h1>
    
    <div class="zadania">
        <div class="row" *ngIf="!selectedFunctionality">
            <button routerLink="/exercise" class="btn btn-primary">
                Zadanie 1
            </button>
            <button routerLink="/projects" class="btn btn-primary">
                Zadanie 2
            </button>
            <button routerLink="/projects" class="btn btn-primary">
                Zadanie 3
            </button>
            <button routerLink="/projects" class="btn btn-primary">
                Zadanie 4
            </button>
            <button routerLink="/projects" class="btn btn-primary">
                Zadanie 5
            </button>
            <button routerLink="/projects" class="btn btn-primary">
                Test
            </button>
    </div>
    

    <div class="mt-3" *ngIf="!selectedFunctionality">
        <button routerLink="/projects" class="btn btn-primary">
            Powrót do wszystkich poziomów
        </button>

    </div>
    <!-- ... -->
</div>
<div class="end">
    <h2>Kontakt</h2>
    <p>Skontaktuj się z nami, aby dowiedzieć się więcej o naszej ofercie kursów i rozpocząć swoją przygodę z nauką języka!</p>
    <p>Email: info@naukajęzyka.pl</p>
    <p>Telefon: +48 123 456 789</p>
</div>

