<div class="mb-md-5 mt-md-4 pb-5">
    <h2 class="fw-bold mb-2 text-uppercase">Zaloguj się</h2>
    <p class="text-white-50 mb-5">Podaj swój login i hasło!</p>

    <div class="form-outline form-white mb-4">
        <input type="text" id="typeLogin" class="form-control form-control-lg" [(ngModel)]="user.login" />
        <label class="form-label" for="typeLogin">Login</label>
    </div>

    <div class="form-outline form-white mb-4">
        <input type="password" id="typePassword" class="form-control form-control-lg" [(ngModel)]="user.password" />
        <label class="form-label" for="typePassword">Hasło</label>
    </div>

    <button class="btn btn-outline-light btn-lg px-5" (click)="loginUser()">Zaloguj się</button>

    <p class="text-danger m-3" *ngIf="invalidLogin">Nieprawidłowe dane logowania.</p>
</div>

<p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Nie pamiętasz hasła?</a></p>

<div>
    <p class="mb-0">Nie posiadasz konta? <a class="text-white-50 fw-bold" (click)="setAuth()">Kliknij aby założyć!</a>
    </p>
</div>