.container {
    
    
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10px   ;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.row {
    text-align: center;
    margin-top: 20px;
    width: 300px; 
    margin: 0 auto;
    
   
}

.task-container {
    text-align: center;
    padding-top: 80px;
    
  }
  
  .task-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .task-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 25px auto 0px;

    background-color: #3b3b3b;
  }
  
  .sentence {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .answer-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

.col {
    margin-bottom: 20px;
}

.list-group-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-primary {
    background-color: #3b3b3b;
    border-color: #3b3b3b;
}

.btn-primary:hover {
    background-color: #999999;
    border-color: #999999;
}


.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #1c7430;
    border-color: #1c7430;
}

.mt-3 {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

p {
    text-align: center;
    line-height: 1.6;
}

.end {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

