<app-navbar></app-navbar>

<div class="container">
    <h1 class="task-title">Zadanie 1</h1>
    <h2 class="translation">Tłumaczenie</h2>
    <div class="task-container">
        <h2>Napisz to po Polsku</h2>
            <p class="sentence">The cat is on the table</p>
            <div class="answer-container">
                <input type="text" class="answer-input" placeholder="Twoja odpowiedź...">
            </div>
            <div class="navigation-buttons">
                <button routerLink="/functionality/2" class="back-button">Pomiń</button>
                <button class="next-button">Sprawdź</button>
              </div>  
      </div>
</div>


<div class="end">
    <h2>Kontakt</h2>
    <p>Skontaktuj się z nami, aby dowiedzieć się więcej o naszej ofercie kursów i rozpocząć swoją przygodę z nauką języka!</p>
    <p>Email: info@naukajęzyka.pl</p>
    <p>Telefon: +48 123 456 789</p>
</div>
