<div class="container">
    <img src="../../assets/images/001009531.jpg" alt="">
    <div class="welcome">
        <h1>Welcome to <b>POLISH LINGUA</b></h1>
        <p>Aplikacja do nauki języka Polskiego. Projekt reprezentowany jest przez poziomy oraz zadania do
            zrealizowania. Do każdego z poziomów są przypisane jedno lub więcej zadań.</p>
        <div class="welcome__auth d-grid gap-2">
            <button routerLink="/auth" class="btn btn-primary" type="button">Zaloguj się</button>
            <a (click)="goToRegister()">Nie posiadasz konta? Kliknij aby założyć!</a>
        </div>
    </div>
</div>